.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-weight: bold;
  font-size: 26px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .nav {
    margin: auto;
  }
}
/* li {
} */
.header .nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73px;
  position: relative;
  color: black;
  padding: 0 30px;
  transition: var(--main-transition);
  overflow: hidden;
  text-transform: capitalize;
  cursor: pointer;
}
@media (max-width: 767px) {
  .header .nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}
.header .nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
.header .nav li a.navLink:hover {
  color: var(--main-color);
  background-color: var(--section-background);
}
.header .nav li a.toggleMenu,
.header .nav li a.mega:hover {
  color: var(--main-color);
  background-color: var(--section-background);
}

.header .nav > li > .navLink:hover::before,
.header .nav li a.toggleMenu::before {
  left: 0;
}

/* megamenu ==================== */

.mega-menu {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 100%;
  padding: 30px;
  right: 0;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  top: calc(100% + 50px);
  transition: top var(--main-transition), opacity var(--main-transition);
}
.mega-menu.open {
  z-index: 999;
  opacity: 1;
  top: calc(100% + 1px);
}
@media (max-width: 767px) {
  .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 10px;
  }
}
.mega-menu .image img {
  max-width: 100%;
  border-radius: 10px;
  flex: 1;
}
@media (max-width: 991px) {
  .mega-menu .image {
    display: none;
  }
}
.mega-menu .links {
  min-width: 250px;
  flex: 1;
}
@media (max-width: 767px) {
  .mega-menu .links:first-of-type {
    border-bottom: 1px solid #e9e6e6;
  }
}
.mega-menu .links li {
  position: relative;
}
.mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
.mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  border-radius: 10px;
  transition: var(--main-transition);
}
.mega-menu .links li:hover::before {
  width: 100%;
}
.mega-menu .links li a {
  color: var(--main-color);
  padding: 10px;
  display: block;
  font-size: 18px;
  text-transform: capitalize;
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: bold;
}
